@import "../../global/mediaQuery.scss";

.gameReport__list {
  .gameReport__item {
    .item__title {
      text-align: left;
      font-weight: 700;
      font-size: 1.4rem;
      color: #34558b;
    }

    .item__content {
      display: flex;
      flex-direction: row;

      .game__card {
        width: 320px;
        margin: 5px;

        .game__title {
          display: flex;
          justify-content: space-between;

          .text__quarter {
            font-weight: 300;
          }

          .text__result {
            font-size: 1.3rem;
            font-weight: 600;

            .text__caption {
              font-weight: 300;
              font-size: 1rem;
              color: #666666;
            }
          }
        }

        .text__score {
          font-size: 2.4rem;
        }
      }
    }
  }
}