@import "../../../global/mediaQuery.scss";

.team__main {
  .team__header {
    display: flex;
    .header__first {
      flex: 1 1 45%;
      min-width: 45%;
      text-align: left;
      align-self: center;
      font-weight: bold;
      font-size: 16px;
      color: #000;
      letter-spacing: -1px;
      .text__blue {
        color: #2f6bda;
      }

    }
    .header__second {
      flex: 1 1 55%;
      min-width: 55%;
      align-self: center;
      .select__season {
        width: 120px;
      }

    }
  }
  .team__content {
    padding: 10px 0;
    .rank__table {
      width: 100%;
      border-width: 1px;
      border-style: solid;
      border-color: #777784 #e0e0e0 #d4d4d4;
      margin-top: -1px;
      table-layout: fixed;
      border-collapse: collapse;
      thead {
        th {
          height: 40px;
          background: #f7f7f9;
          border-bottom: solid 1px #666666;
          font-size: 146x;
          color: #636469;
          letter-spacing: -1px;
          padding: 10px;
        }
      }
      tbody {
        td {
          font-size: 14px;
          text-align: center;
          .table__inner {
            padding: 10px 0 9px;
            position: relative;
            padding-left: 43px;
            .emblem {
              position: absolute;
              top: 4px;
              left: 13px;
            }
            .name {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              margin-top: 1px;
              font-family: "돋움",Dotum,Helvetica,sans-serif;
              letter-spacing: 0;
              vertical-align: middle;
            }
          }
          
        }
      }
    }
    
  }
}