@import "../../global/mediaQuery.scss";

.home__container {
  padding-top: 10px;

  .home__header {
    padding: 8px;
  }

  .home__content {
    background-color: #b1deb3;
  }
}

.away__container {
  padding-top: 10px;

  .away__header {
    padding: 8px;
  }

  .away__content {
    background-color: #b1deb3;
  }
}

.input__container {
  .label__container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label__text {
      font-weight: 800;
      font-size: 14px;
    }

    .data__text {
      font-weight: 700;
      font-size: 20px;
      padding-top: 10px;

      .data__time {
        width: 50px;
      }

      &.fixed__type {
        color: #34558b;
      }
    }

  }

  .action__container {
    .button__update {
      background-color: #b8340c !important;
    }
  }
}