@import "../../global/mediaQuery.scss";

.report__content {
  border: solid 20px white;
  background-color: #c5cdc9;
  // background-color: #065728;
  min-height: 200px;
}

.event__time-text {
  color: #187c5a;
  font-weight: 700;
  font-size: 1.2rem;
}

.event__type-text {
  color: white;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.event__subType-text {
  color: white;
  font-weight: 800;
  font-size: 1.0rem;
  margin-bottom: 12px;
}