// T 훈련
.grape {
    background-color: rgb(142, 36, 170);
}

// C 대회 
.light_pink {
    background-color: rgb(230, 124, 115);
}

// P 연습경기
.sage {
    background-color: rgb(51, 182, 121);
}

// M 친선 경기
.lavender {
    background-color: rgb(121, 134, 203);
}

// L 리그
.banana {
    background-color: rgb(246, 191, 38);
}

.muji {
    background-color: rgba(0, 0, 0, 0.5);
}