.text {
  font-size: 12px;
  font-weight: 400;

  &.text__title {
    font-size: 16px;
    font-weight: 600;
  }
  &.text__caption {
    font-size: 10px;
  }
  &.text__uniformNumber {
    font-size: 32px;
    font-weight: 800;
  }

}
