.dialog__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 12px;
  .dialog__header {
    display: flex;
    padding: 12px;
    .title__icon-close {
      width: 32px;
      height: 32px;
      background: url("../../../assets/images/close.svg");
      &:hover {
        border-radius: 50%;
        background-color: #8c8c8c14;
      }
    }
  }
  .dialog__content {
    display: flex;
    padding: 12px;
    justify-content: center;
    .form__container {
      width: 100%;
    }
    .img__top {
      margin: 0 auto;
    }

    .input__white {
      background: #fff;
      border: solid 1px #002d5d;
    }
  }
  .dialog__actions {
    display: flex;
    padding: 12px;
    justify-content: flex-end;
  }
}