.loading__box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .loading__image {
        position: relative;
        width: 50px;
        height: 100px;
    }
}