@import "../../../global/mediaQuery.scss";

.main__header {
  display: flex;
  height: 100px;
  // background-color:blue;
  align-items: center;
}
.main__content {
  width: 100%;
  height: 1000px;
  display: flex;
  .main__left {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    max-width: 30%;
  }
  .main__right {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    max-width: 70%;

  }
}
