@import "../../../global/mediaQuery.scss";

.main__header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  .player__list {
    display: flex;
    align-items: center;
    .player__item {
      position: relative;
      .item__badge {
        position: absolute;
        top: 5px;
        right: 3px;
        z-index: 2;
        .badge__button {
          width: 20px;
          height: 20px;
        }
      }
    }
    
  }
}
.main__content {
  width: 100%;
  height: 1000px;
  display: flex;
  .main__left {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    max-width: 30%;
  }
  .main__right {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    max-width: 70%;

  }
}
